#myDiv {
    border: 10px solid white;
    background-color: teal;
    height: 10rem;
    width: 100rem;
}


/* #myList {
    background-color: coral;
} */


/* .items {
    border: 1px dotted blanchedalmond;
    background-color: purple;
} */

.material-icons {
    border: 5px solid teal;
    height: 50vh;
    width: 50vw;
}