/* #myDiv {
    border: 1px solid red;
    background-color: blue;
    height: 10rem;
    width: 10rem;
} */


/* #myList {
    background-color: tomato;
} */

/* .items {
    border: 1px dotted blanchedalmond;
    background-color: purple;
} */

.material-icons {
    border: 1px solid purple;
    height: 50vh;
    width: 50vw;
}